*.exe
.archive
.archive/**
.arkiv
.arkiv/**
*läsmig*
*/*/Session.vim
2022/aoc_template_*.zip
input.txt
*/input.txt
*/*/input.txt
*/*/*/input.txt
*/*/example.txt
.history
*/*/*.xlsx
2023/day06/README.txt
.gitignore
2023/day03/working/main.go
set_aoc_cookie.cmd
input/*
